.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    height: 3rem;
    background-color: #213399;
    margin-bottom: 0;
    text-align: center;          
}

.footer-text {
    padding-top:10px;
    color: whitesmoke;
}