table {
    width: 100%;
  }

  table {
    width: 100%;
    table-layout: fixed;
  }
  
  th, td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
    justify-content:space-evenly;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    margin-left: 15px;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .chips-list {
      margin-top: 5%;
  }

  .type-chips {
      float: left;
      margin-bottom: 10%;
  }

  .ability-chips {
    float: left;
    margin-bottom: 10%;
}

.description {
  padding-top: 5%;
}

.evolution {
  position: relative;; 
  float: right;
}
