<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Pikachu" #input>
</mat-form-field>

<table mat-table [dataSource]="datasource" multiTemplateDataRows class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="#">
        <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> # </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="image">
        <th mat-header-cell cdkDrag *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
            <img src="{{element.sprites.front_default}}" alt="img" width="75" height="75">
        </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> pokemon </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>


    <ng-container matColumnDef="exp">
        <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> exp. </th>
        <td mat-cell *matCellDef="let element"> {{element.base_experience}} </td>
    </ng-container>

    <ng-container matColumnDef="hp">
        <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> hp </th>
        <td mat-cell *matCellDef="let element"> {{element.stats[0].base_stat}} </td>
    </ng-container>

    <ng-container matColumnDef="attack">
        <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> attack </th>
        <td mat-cell *matCellDef="let element"> {{element.stats[1].base_stat}} </td>
    </ng-container>

    <ng-container matColumnDef="defense">
        <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> defense </th>
        <td mat-cell *matCellDef="let element"> {{element.stats[2].base_stat}} </td>
    </ng-container>

    <ng-container matColumnDef="sp-attack">
        <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> sp.attack </th>
        <td mat-cell *matCellDef="let element"> {{element.stats[3].base_stat}} </td>
    </ng-container>

    <ng-container matColumnDef="sp-defense">
        <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> sp.defense </th>
        <td mat-cell *matCellDef="let element"> {{element.stats[4].base_stat}} </td>
    </ng-container>

    <ng-container matColumnDef="speed">
        <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> speed </th>
        <td mat-cell *matCellDef="let element"> {{element.stats[5].base_stat}} </td>
    </ng-container>

    <ng-container matColumnDef=" ">
        <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header>  </th>
        <td mat-cell *matCellDef="let element"><mat-icon
                (click)="expandedElement = expandedElement === element ? null : element">
                {{expandedElement === element ? 'expand_less' : 'expand_more'}}</mat-icon>
        </td>
    </ng-container>


    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="example-element-diagram">
                    <div class="example-element-name">
                        <img src="{{element.sprites.other.dream_world.front_default}}" alt="img" width="80" height="80">
                    </div>
                </div>
                <div class="chips-list">
                    <mat-chip-list class="type-chips" cdkDropList cdkDropListOrientation="horizontal"
                        (cdkDropListDropped)="drop($event)">
                        Types:
                        <mat-chip class="example-box" cdkDrag *ngFor="let type of element.types"
                            [ngStyle]="{'background-color':getColor(type.type.name)}">
                            <div>
                                {{type.type.name}}
                            </div>
                        </mat-chip>
                    </mat-chip-list>
                    <div class="test"></div>
                    <mat-chip-list class="ability-chips" cdkDropList cdkDropListOrientation="horizontal"
                        (cdkDropListDropped)="drop($event)">
                        Abilities:
                        <mat-chip class="example-box" cdkDrag *ngFor="let ability of element.abilities">
                            <div>
                                {{ability.ability.name}}
                            </div>
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div class="description" *ngIf="pokemonDetails">{{pokemonDetails.flavor_text_entries[0].flavor_text | removeArrow}}</div>
                <div *ngIf="evolves_to" class="example-element-diagram evolution">
                    Evolves into
                    <div class="example-element-name">
                        <img src="{{evolves_to.sprites.other.dream_world.front_default}}" alt="img" width="80" height="80">
                    </div>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element; getPokemonDescription(element.id)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
<br>
<mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>