<mat-toolbar color="primary" class="navbar">
  <a class="pokedex-title" routerLink="/pokemons" routerLinkActive="active">My Pokedex</a>
  <div>
    <a routerLink="/pokemons" routerLinkActive="active">Home</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a>Services</a>
  </div>
</mat-toolbar>
<div class="container">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>