.navbar {
    justify-content: space-between;
}

a {
    padding-right: 3rem;
}

a:link {
    text-decoration: none;
  }

.navbar a:hover {
    color: palevioletred;
}

.navbar a:visited {
    color: white;
}

.navbar a.active {
    color: palevioletred;
}

.navbar .pokedex-title.active {
    color: white;
}

.container{
    position: relative;
    min-height: 100vh;
  }

.content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding-bottom: 4.5rem;    /* Footer height */
    width: 75%;
}
